body{
    text-align: center;
    background-color:darkseagreen;
    margin-top: 250px;
}

h1 {
    color: deeppink;
    text-decoration: underline;
}

h2 {
    color: pink;
    text-decoration: line-through;
}

p a {
    color: darkslategrey;
}

a {
    color: deeppink;
}