header {
    background-color: plum;
}

section {
    background-color: aqua;
}

footer {
    background-color: aquamarine;
}

a {
    background-color: palegreen;
}

div {
    width: 250px;
    height: 250px;
    background-color: bisque;
    padding: 20px;
    margin: 20px;
    border: 10px solid black;
}